body
{
    background-color: rgb(107, 69, 69);
}
h1,h4,p {
    color: white;
}
.maincon
{
    margin-left: 5%;
    margin-right: 5%;
}
.hediv
{
    background-color: saddlebrown;
}
.body_contaner
{
    width: auto;
}
.body_contaner img
{
    float: left;
    margin-top: 10px;
    width:150px;
    
    padding: 10px;
} 
.body_contaner p 
{
    font-size: 3ch;
}
.programs
{
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgb(142, 116, 81);
    margin-top: 0%;
}
.programs ul
{
    list-style: none;
}
