/*this to add background image and place it as backgorund */
header{
    padding: 20px;
    text-transform: uppercase;
    color: white;
    background-image: url('lone-starfish-wide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height:700px;
    position: relative;
 }
  /* here i make the h1 in middle of the pic */
  header h1{
    position: relative;
    font-size:550%;
    top:55%;
    color: white;
  }
  /* i change the background color for page */
body
{
    
background-color:#aad4cf;
font-family: Arial, Helvetica, sans-serif;
}
/*i change the middle color for the page */
.mdiv{
    margin-left:20%;
    margin-right:20%;
    background-color: rgb(212, 232, 231);
}/*here i make the menu bar list i use until line 58*/
nav{
    text-align: center;
}
.navm{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.navm li{
    float: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid;
    display: inline;
    
}
.navm li a{
    font-weight: bold;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding: 16px 120px;

    }
.msec{
    margin-bottom: 5px;
    margin: 10px;
}
    .msec h1 p{
        font-size: larger;
      
    }
    .msec h1{
        font-size: 6ch;
    }
    /*i make some style in the pargraph*/
.prag
{
font-size: 3ch;
width:100%;
padding:0px;
overflow: hidden;
float: left;
}
/*i change the img size to be fix behind the pragrph*/
.divimg img{
    float: left;
    margin-top: 20px;
    width:30%;
    height:0%;
    text-align: center;
    padding: 10px;
 
}
.divp{
float: none;
}
/* here for the list in secound component in the page to line 99*/
.sectwo{
    margin:20px;
    font-size: 3ch;
}
.sectwo ul{
    padding-left: 22px;
}
form{
    font-size: 3ch;

    margin: 5px;
    border: 1px solid;
    padding: 15px;
    margin-bottom: 0px;
}
.finput .textin
{
    width: 100%;
}
form textarea{
    width: 100%;
}
#fname 
{
    width: 100%;
    height: 30px;
}
#Email
{
    width: 100%;
    height: 30px;

}
.submit{
    margin-top: 10px;
    background:unset;
    padding: 10px;
}
footer{
    float: right;
  
   padding-left: 90%;
    background-color: rgb(212, 232, 231);
}
footer h3{
    padding-right:5px ;
    
}